* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antiliased;
}

.app-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container .content {
    width: 100%;
    padding: 72px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: 600px;
    display: flex;
    justify-content: space-between;
}

.app-container .content section {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
}

form input {
    width: 100%;
    height: 36px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 12px;
}

.button {
    width: 100%;
    height: 36px;
    background: #ac1a1c;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 36px;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%)
}
.app-container .content form {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.app-container .content form input{
    margin-top: 8px;
}

.app-container .content table {
    width: 100%;
    max-width: 450px;
    display: block;
    flex-direction: start;
}

.logo {
    max-height: 100px;
    min-width: 250px;
    margin-bottom: 16px;
}

table {
    width: 100%;
    border-collapse: collapse
}

thead {
    border-bottom: 1px solid #c5c5c5;
}

table tr {
    line-height: 45px;
    border-bottom: 1px solid #c5c5c5;
}

table tr th {
    width: 25%;
}

table tr td {
    width: 25%;
    text-align: center;
    vertical-align: middle;
}

table tr td img {
    max-width: 45px;
    max-height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table tr td div {
    min-width: 30px;
    min-height: 30px;
    padding: 15px;
    border-radius: 3px;
}

.delete-action {
    margin: 8px;
    padding: 8px;
    background-color: white;
    border: 1px solid #ac1a1c;
    border-radius: 3px;
}

.delete-action:hover {
    filter: brightness(90%)
}

.message-success {
    padding: 12px;
    margin-bottom: 8px;
    background-color: #72dd69;
    color: #395f36;
    border-radius: 8px;
}

.message-error {
    padding: 12px;
    margin-bottom: 8px;
    background-color: #ee9589;
    color: #a75449;
    border-radius: 8px;
}